src/network/Client/Service References/KNT_SrvRef/KNTNet1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/KNTNet.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="characters" nillable="true" type="tns:ArrayOfSpecialCharacter" />
      <xs:element minOccurs="0" name="currentMarkerID" type="xs:int" />
      <xs:element minOccurs="0" name="diceRoll" type="xs:int" />
      <xs:element minOccurs="0" name="gold" type="xs:int" />
      <xs:element minOccurs="0" name="goldY" type="xs:int" />
      <xs:element minOccurs="0" name="holdingMarker" type="xs:boolean" />
      <xs:element minOccurs="0" name="inPhase" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="mymarkers" nillable="true" type="q1:ArrayOfKeyValueOfintboolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ownedTiles" nillable="true" type="tns:ArrayOfTile" />
      <xs:element minOccurs="0" name="playerNumber" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rack" nillable="true" type="q2:ArrayOfKeyValueOfintThingQIkbvsMi" />
      <xs:element minOccurs="0" name="thingsInPlay" nillable="true" type="tns:ArrayOfThing" />
      <xs:element minOccurs="0" name="turn" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfSpecialCharacter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialCharacter" nillable="true" type="tns:SpecialCharacter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialCharacter" nillable="true" type="tns:ArrayOfSpecialCharacter" />
  <xs:complexType name="SpecialCharacter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Thing">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecialCharacter" nillable="true" type="tns:SpecialCharacter" />
  <xs:complexType name="Thing">
    <xs:sequence>
      <xs:element minOccurs="0" name="combatValue" type="xs:int" />
      <xs:element minOccurs="0" name="goldValue" type="xs:int" />
      <xs:element minOccurs="0" name="hexType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="inBank" type="xs:boolean" />
      <xs:element minOccurs="0" name="isOwned" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="onRack" type="xs:boolean" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Thing" nillable="true" type="tns:Thing" />
  <xs:complexType name="ArrayOfTile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tile" nillable="true" type="tns:Tile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTile" nillable="true" type="tns:ArrayOfTile" />
  <xs:complexType name="Tile">
    <xs:sequence>
      <xs:element minOccurs="0" name="combatFlagged" type="xs:boolean" />
      <xs:element minOccurs="0" name="faceUp" type="xs:boolean" />
      <xs:element minOccurs="0" name="fortLevel" type="xs:int" />
      <xs:element minOccurs="0" name="hexNumber" type="xs:int" />
      <xs:element minOccurs="0" name="hexType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nHex" type="xs:int" />
      <xs:element minOccurs="0" name="neHex" type="xs:int" />
      <xs:element minOccurs="0" name="nwHex" type="xs:int" />
      <xs:element minOccurs="0" name="p1Stack" nillable="true" type="tns:ArrayOfThing" />
      <xs:element minOccurs="0" name="p2Stack" nillable="true" type="tns:ArrayOfThing" />
      <xs:element minOccurs="0" name="p3Stack" nillable="true" type="tns:ArrayOfThing" />
      <xs:element minOccurs="0" name="p4Stack" nillable="true" type="tns:ArrayOfThing" />
      <xs:element minOccurs="0" name="playerAbleToStart" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="playerControl" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="playerControlBool" type="xs:boolean" />
      <xs:element minOccurs="0" name="rough" type="xs:boolean" />
      <xs:element minOccurs="0" name="sHex" type="xs:int" />
      <xs:element minOccurs="0" name="seHex" type="xs:int" />
      <xs:element minOccurs="0" name="startPossible" type="xs:boolean" />
      <xs:element minOccurs="0" name="swHex" type="xs:int" />
      <xs:element minOccurs="0" name="traversed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tile" nillable="true" type="tns:Tile" />
  <xs:complexType name="ArrayOfThing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Thing" nillable="true" type="tns:Thing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfThing" nillable="true" type="tns:ArrayOfThing" />
  <xs:complexType name="Phase">
    <xs:sequence>
      <xs:element minOccurs="0" name="_players" nillable="true" type="tns:ArrayOfPlayer" />
      <xs:element minOccurs="0" name="currentPlayer" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="currentState" type="tns:Phase.State" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phase" nillable="true" type="tns:Phase" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:simpleType name="Phase.State">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="Phase.State" nillable="true" type="tns:Phase.State" />
  <xs:complexType name="Board">
    <xs:sequence>
      <xs:element minOccurs="0" name="tiles" nillable="true" type="tns:ArrayOfTile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Board" nillable="true" type="tns:Board" />
</xs:schema>