src/network/Client/Service References/KNT_ServiceReference/KNTNet2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentMarkerID" type="xs:int" />
      <xs:element minOccurs="0" name="diceRoll" type="xs:int" />
      <xs:element minOccurs="0" name="gold" type="xs:int" />
      <xs:element minOccurs="0" name="holdingMarker" type="xs:boolean" />
      <xs:element minOccurs="0" name="inPhase" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playerNumber" type="xs:int" />
      <xs:element minOccurs="0" name="turn" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Phase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Phase" nillable="true" type="tns:Phase" />
  <xs:complexType name="GameBoard">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentPhase" nillable="true" type="tns:Phase" />
      <xs:element minOccurs="0" name="players" nillable="true" type="tns:ArrayOfPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBoard" nillable="true" type="tns:GameBoard" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
</xs:schema>